*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bg-color-start : #A00000;
  --bg-color-end : #1A1A1A;
  --light-red : #E50914;
  --dark-red : #7D0C0E;
  --dark-grey : #121212;
  --light-grey : #CCCCCC;
}
body {
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width:680px){
  :root{
    font-size: .6em;
  }
}
@media (max-width:480px){
  :root{
    font-size: .4em;
  }
}
@media (max-width:300px){
  :root{
    font-size: .2em;
  }
}